
@font-face {
    font-family:"Grot10 SemiBold";
    src:url("sass/fonts/Grot10_SemiBold/Grot10_SemiBold.woff2") format("woff2"),url("sass/fonts/Grot10_SemiBold/Grot10_SemiBold.woff") format("woff");
    font-style:normal;font-weight:400;
}
        