
@font-face {
    font-family:"Grot10";
    src:url("sass/fonts/Grot10_Regular/Grot10_Regular.woff2") format("woff2"),url("sass/fonts/Grot10_Regular/Grot10_Regular.woff") format("woff"),url("sass/fonts/Grot10_Regular/Grot10_Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        